<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyPhongTro.Properties.Settings.QuanLyPhongTro_QLPhongTroCodeFristModelConnectionString"
            connectionString="Data Source=(local);Initial Catalog=QuanLyPhongTro.QLPhongTroCodeFristModel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyPhongTro.Properties.Settings.QuanLyPhongTro_QLPhongTroCodeFristModelConnectionString1"
            connectionString="Data Source=DESKTOP-S1O44U1\SQLEXPRESS;Initial Catalog=QuanLyPhongTro.QLPhongTroCodeFristModel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
